{% extends "layout.html" %}

{% block title %}
    Bookcrit {{ username }} profile
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Profile – {{ username }}</h1>
    <hr>
    <div class="row justify-content-around">
      <div class="col-md-7">
        {% for entry in entries %}
        <div class="box">
          <article>
            <a href="{{ url_for('book_page', book_id = entry["bookinfo"]["book_id"]) }}"><h3>'{{ entry["bookinfo"]["title"] }}'</h3></a>
            <h4>by {{ entry["bookinfo"]["author"] }}</h4>
            <h5>You rated it {{ entry["review"]["rating"] }} / 5</h4>
            <a href="{{ url_for('edit', review_id = entry["review"]["id"]) }}">Edit</a>
            {% for paragraph in entry["review"]["text"].split("\r") %}
              <p>{{ paragraph }}</p>

            {% endfor %}

          </article>
        </div>
        <hr>

        {% endfor %}
      </div>
      <div class="col-md-5 text-right">
        <a href="{{ url_for('find_book') }}"><h2>Book catalogue</h2></a>

      </div>

  </div>
{% endblock %}
