{% extends "layout.html" %}

{% block title %}
    Bookcrit home
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-4">
        <h2>Become a bookcritter!</h2>
        <div class="card text-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Did you mean to <a href="{{ url_for('login') }}">log in</a>?
                </div>
            {% endif %}
            {% endwith %}
              <form  action="{{ url_for('register') }}" method="post">
                <div class="form-group card-body">
                  <div class="row">
                    <div class="col">
                      <label for="email" class="card-title">E-mail</label>
                      <br>
                      <input type="text" name="email" placeholder="E-mail">
                      <br>
                      <label for="new_username" class="card-title">Username</label>
                      <br>
                      <input type="text" name="new_username" placeholder="Username">
                      <br>
                      <label for="new_password" class="card-title">Password</label>
                      <br>
                      <input type="password" name="new_password" placeholder="Password">
                      <br>
                    </div>
                  </div>
                  <div class="row text-center align-items-end" style="margin-top : 40px">
                    <div class="col">
                      <input type="submit" name="" value="Register!" class="btn btn-primary">
                    </div>
                  </div>

                </div>
              </form>
            </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <h3>Already a critter? <a href="{{ url_for('login') }}">Log in!</a></h3>

        </div>
      </div>
    </div>




{% endblock %}
